body{
    top: 0px;
    margin:0px;
    background: linear-gradient(280deg, #2E335A 1.62%, #1C1B33 95.72%);
}

.weather{
    /* background: linear-gradient(168.44deg, #2E335A 1.62%, #1C1B33 95.72%); */
       padding: 10px;
       /* height: 97vh; */
       /* width: 5vw; */
       /* top:0px; */
       /* margin: 0px; */
}
.title{
     color: #FFFFFF; 
    /* background-color: #1C1B33; */
    text-align: center;
    font-size: 45px;
      font-family: 'Inter';
      padding-top:10px;

      
}
.input{
    /* background: linear-gradient(168.44deg, rgba(46, 51, 90, 0.26) 1.62%, rgba(28, 27, 51, 0.26) 95.72%); */
align-items: center;
/* border: 2px solid red; */
padding:2px;
/* padding-left:35vw; */
/* margin: 10px; */
display: grid;
grid-template-columns: 5fr 3fr;
/* gap: 70px; */

}
.input-inner>input{
    /* padding-top: 3vh; */
    padding: 10px;
    background-color: inherit;
    /* justify-self: right; */
    /* border: 2px solid blue; */
    width: 30vw;
    font-size: 18px;
    border: none;
    outline: none;
    color:white;
    
    
}
.button{
    justify-self: start;
    /* border:2px solid yellow; */
    
}
.input-inner{
    /* border: 2px solid green; */
    justify-self: right;
     border-radius: 10px;
     box-shadow: 0px -2px 10px rgb(14, 3, 12);
     
   
}
button{
    padding:10px;
    background: #4A397FB2;
     color: white;
    margin: 20px;
    font-size: 18px;
    border-radius: 5px;
    width: 10vw;
    border: none;
    outline: none;
}
.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 2px solid red; */
    padding: 40px;
    /* gap:10vw; */
    top: 0px;
    margin: 0px;
}
.grid-item{
     /* border: 2px solid rgb(14, 204, 7);  */
    color: white;
    padding:15px;
    margin:10px;
    
    /* border-radius: 2vw; */
    /* width: 18vw; */

    /* height: 15vh; */
}
.item-content{
    /* border: 2px solid yellow; */
    background-image: url("Rectangle\ 1.svg");
    background-size: 120%;
    background-repeat: no-repeat;
    height: 190px;
    padding: 10px;
}
.shower{
    display: flex;
    flex-direction: row;
    gap:10vw;
    /* padding: 10px; */
    padding-top:2px;
}